/* section header */
.head{
    color: white;
    font-size: 14px;
    height: auto;
 }
 @media (max-width: 960px){
    .head{
        font-size: 12px;
    }
 }
 @media (max-width: 414px){
    .head{
        font-size: 10px;
    }
 }@media (max-width: 325px){
    .head{
        font-size: 8px;
    }
 }

 
 .head a{
    color: white;
 }

 #navbarSupportedContent a{
    color: black;
 }
 .btn{
    border-radius: 0.5rem;
 }
 .btn-login{
     
     border: 3px solid #1C98D7;
     padding: 0 5px 0 5px;
 }
