/*
1.left-right
2.pagecard
3.customer-management
4.featurepage
5.HOME
6.Ecommerce
7.Section On to Top
*/









/* section left-right */

@media (min-width: 1024px){
    .right1 img,.left img,.right2 img{
        width: 450px;
    }  
}

@media (min-width: 1080px){
    .right1 img ,.left img,.right2 img{
        width: 500px;
    }  

    .left .left-right-text{
        margin-left: 65px;
 
    }
}

@media (min-width: 1366px){

    .left .left-right-text{
        margin-left: 20px;
 
    }   
}

@media (min-width: 1920px){
    .right1 img ,.left img ,.right2 img{
        width: 600px;
    }

    .right1 .left-right-text,.right2 .left-right-text{
        margin-right: 50px;
    }

    .left .left-right-text{
        margin-left: 120px;
    }
}

@media (max-width: 812px){
    .right1 img,.left img,.right2 img{
        width: 550px;
    }  

    .right1 .left-right-text,.right2 .left-right-text, .left .left-right-text{
        margin-top: 20px;
    }

    .left-right-text p{
        padding: 0 140px 0 140px;
    }

}

@media (max-width: 736px){
    .right1 img,.left img,.right2 img{
        width: 500px;
    }  

    .right1 .left-right-text,.right2 .left-right-text, .left .left-right-text{
        margin-top: 20px;
    }

    .left-right-text p{
        padding: 0 120px 0 120px;
    }

}

@media (max-width: 414px){
    .right1 img,.left img,.right2 img{
        width: 300px;
    }  

    .right1 .left-right-text,.right2 .left-right-text, .left .left-right-text{
        margin-top: 20px;
    }

    .left-right-text p{
        padding: 0 50px 0 50px;
    }

}

@media (max-width: 325px){
    .right1 img,.left img,.right2 img{
        width: 250px;
    }  

    .right1 .left-right-text,.right2 .left-right-text, .left .left-right-text{
        margin-top: 20px;
    }

    .left-right-text p{
        padding: 0 40px 0 40px;
    }

}








@media (max-width: 1080px){
    .left-right-text h1{
        font-size: 35px;
    }
}


 @media (max-width: 960px){
    .left-right-text{
        text-align: center !important;
    }
    .left-right-text h1{
        font-size: 40px;
    }
}

@media (max-width: 414px){
    
    .left-right-text h1{
        font-size: 29px;
    }

}

 @media (max-width: 375px){
    
    .left-right-text h1{
        font-size: 25px;
    }
    .left-right p{
        font-size: 14px;
    }
}

@media (max-width: 325px){
    
    .left-right-text h1{
        font-size: 22px;
    }
}





 

/* ------------------------------------------------------pagecard----------------------------------------------------------------  */



.jumbotron h1{
    font-size: 40px;
}


@media (max-width: 1920px){
    .choice-detail{
       font-size: 17px;
    }
    .correct img{
        margin-left: -5px;
    }
}


@media (max-width: 1080px){
    .choice-detail{
       font-size: 14px;  
    }
    .correct img{
        margin-left: -10px;
    }
    .choice-card{
        margin-bottom: -20px;
    }
}

@media (max-width: 812px){
    .choice-detail{
       font-size: 22px;  
    }

    .choice-card{
        margin-bottom: -20px;
    }

    .correct img{
        margin-left:unset;
    }
}

@media (max-width: 414px){
    .choice-detail{
       font-size: 16px;  
    }

    .choice-card{
        margin-bottom: -30px;
    }
}

/* ------------------------------------------------------section customer-management----------------------------------------------------*/
    

@media (min-width: 1024px){
    .jumbotron-customer-management .choice-detail{
        text-align: right;
        
    }
}

.jumbotron h1{
    font-size: 40px;
}

@media (max-width: 375px){
    .jumbotron h1{
        font-size: 30px;
    }
}


/* -------------------------------------------section featurepage--------------------------------------- */

.featurepage-detail .card{
    border: 0px;
}

.featurepage-detail ul{
    list-style-type:none;
}


.featurepage-detail li{
    width: 250px;
    padding-bottom: 10px;
    
}

@media (max-width: 1080px){

    #menu .btn{
        text-align: left;
    }


}

@media (max-width: 736px){

    .featurepage-detail .more{
        padding-right: 182px;
    }
}

@media (max-width: 414px){

    .featurepage-detail .more{
        padding-right: 0px;
    }
}

@media (max-width: 320px){

    .featurepage-detail li{
        font-size: 13px;
        padding-right: 20px;
    }
}


html{
    scroll-behavior: smooth;
}

/* --------=--------Section On to Top----------*/
.to-top{
    position: fixed; 
    right: 2%;
    bottom: 2%;
    background: #1C9BDA;
    width: 40px;
    height: 40px;
    color: #ffffff;
    z-index: 9999;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.to-top:hover{
    color: black;
    background: #04608D;
}



/* ----------------------------------------------HOME------------------------------------------------------- */
.home-hero-button{
   background-color: #1C9BDA;
}

.hero-home-text{
    background-color: #04608D;
}

@media (min-width: 320px){
    .home-hero-head h1{
        font-size: 25px;
        font-weight: bold;
    }

    .home-hero-head span{
        font-size: 13px;
    }

    .home-hero {
        width: 280px; 
        height: 160px; 
        padding: 0; 
        margin-bottom: 5px;
    }

    .home-hero img{
        width:280px;
        height:160px;
    }
}
@media (min-width: 375px){
    .home-hero-head h1{
        font-size: 30px;
    }

    .home-hero-head span{
        font-size: 19px;
    }
    .home-hero {
        width: 335px; 
        height: 190px; 
        padding: 0;
    }

    .home-hero img{
        width:335px;
        height:190px;
    }
}

@media (min-width: 568px){
    .home-hero-head h1{
        font-size: 47px;
    }

    .home-hero-head span{
        font-size: 23px;
    }

    .home-hero-head .btn{
        width: 130px;
    }

    .home-hero {
        width: 520px; 
        height: 290px; 
        padding: 0; 
    }

    .home-hero img{
        width:520px;
        height:290px;
    }
}

@media (min-width: 768px){
    .home-hero-head h1{
        font-size: 61px;
    }

    .home-hero-head span{
        font-size: 28px;
    }

    .home-hero-head .btn{
        width: 158px;
        height: 35px;
    }

    .home-hero {
        width: 710px; 
        height: 390px; 
        padding: 0; 
    }

    .home-hero img{
        width:710px;
        height:390px;
    }
}

@media (min-width: 1024px){
    .home-hero-head h1{
        font-size: 46px;
    }

    .home-hero-head span{
        font-size: 29px;
    }
    .home-hero {
        width: 960px; 
        height: 530px; 
        padding: 0; 
    }

    .home-hero img{
        width:960px;
        height:530px;
    }
    .home-hero-button .btn{
        padding-left: 0;
        padding-right: 0;
        margin-left: -7px;
    }

    .hero-home-text .hero-home-detail{
        padding-right: 65px;

    }
}

@media (min-width: 1366px){
    .home-hero {
        width: 1100px; 
        height: 600px; 
        padding: 0; 
      
    }

    .home-hero img{
        width:1100px;
        height:600px;
    }
}

#divtextChange{
    padding: 20px 70px 0px 20px;
}

.more{
    padding-left: 20px;
}


@media (max-width: 600px){
    #divtextChange{
        padding: 12px 70px 0px 20px;
    }  
}

@media (max-width: 414px){
    #divtextChange{
        padding: 14px 28px 0px 0px;
        font-size: 14px;
    }

    .more{
        padding-left: unset
    }
    
}

@media (max-width: 320px){
    #divtextChange{
        padding: 14px 19px 0px 0px;
        font-size: 12px;
    }  
}






.WhoAreWELG{
    background: linear-gradient(to right, #04608D 0%,#04608D 50%, #eee 50%, #eee 100%);
}


.WhoAreWELG-detail{
    padding: 0px 55px 0 0px;
}

.WhoAreWELG-detail h1{
    color: white;
}

.WhoAreWELG-detail .lead{
    color: whitesmoke;
}

.truest .truest-head{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 45px;
}

.truest .lush img{
    width: 150px;
}

.truest .forever img{
    width: 200px;
}

.truest .nation img{
    margin-left: 40px;
}

.WhoAreWE h1{
    color: white;
}

.WhoAreWE .lead{
    color: whitesmoke;
}

@media (max-width: 1023px){
    .WhoAreWE{
        background-color: #04608D;
        height: 300px;
        padding: 69px 115px 0px 134px;

    }
    .truest{
        background-color: #eee;
        height: 300px;
        padding: 41px 82px 0 80px;
    }
}

@media (max-width: 600px){
    .WhoAreWE{
        height: 250px;
        padding: 27px 65px 0px 67px;

    }
    .truest{
        height: 250px;
        padding: 29px 42px 0 35px;
    }
}

@media (max-width: 414px){
    .WhoAreWE{
        height: 207px;
        padding: 22px 34px 0px 33px;
    }
    .WhoAreWE h1{
        font-size: 28px;
    }

    .WhoAreWE .lead{
        font-size: 16px;
    }


    .truest{
        height: 207px;
        padding: 25px 0px 0 0px;
    }

    .truest .truest-head{
        font-size: 29px;
    }

    .truest .lush img {
        width: 116px;
    }

    .truest .forever img {
        width: 158px;
    }

    .truest .nation img {
        width: 329px;
        margin-left: unset;
    }
}

@media (max-width: 375px){
    .WhoAreWE{
        padding: 21px 25px 0px 25px;
    }
    
    .truest{
        padding: 25px 0px 0 0px;
    }

    .truest .lush img {
        width: 116px;
    }

    .truest .forever img {
        width: 148px;
    }

    .truest .nation img {
        width: 316px;
    }
}

@media (max-width: 320px){
    .WhoAreWE{
        padding: 17px 18px 0px 20px;
    }
    .WhoAreWE h1{
        font-size: 28px;
        
    }

    .WhoAreWE .lead{
        font-size: 13px;
    }


    .truest .lush img {
        width: 101px;
    }

    .truest .forever img {
        width: 117px;
    }

    .truest .nation img {
        width: 251px;
    }
}




/* -------------------------------------------------------------------Ecommerce----------------------------------------------------- */

.iphone1 img{
    width:450px;
    margin-top: -95px; 
    margin-bottom: -115px;
}

.ecommerce-detail1{
    margin-top: 13px;
}

.ecommerce-detail1 img{
    width: 120px;
}

.ecommerce2{
    margin-top: 100px; 
    margin-bottom: 100px;
}

.iphone2 img{
    width:450px;
    margin-top: -95px; 
    margin-bottom: -115px; 
    margin-left: -53px;
}

.ecommerce-detail2{
    margin-top: 13px;
}

.ecommerce-detail2 img{
    width: 120px;
}


.ecommerce-detail2 .owl-carousel,.ecommerce-detail1 .owl-carousel{
    margin-top: 40px;
}

@media (max-width: 1080px){
    .iphone1 img{
        margin-left: -75px;
    }

    .iphone2 img{
        margin-left: -75px;
    }
}

@media (max-width: 812px){
    .ecommerce1{
        margin-top: 53px;
    }
}

@media (max-width: 736px){
    .iphone1 img{
        width: 316px;
        margin-top: -77px;   
        margin-left: -60px; 
    }
    .ecommerce-detail1 {
        margin-top: 0px;
    }

    .ecommerce-detail1 .owl-carousel{
        margin-top: 11px;
    }

    .ecommerce2 {
        margin-top: 62px;
    }

    .iphone2 img{
        width: 316px;
        margin-top: -77px;   
        margin-left: -60px; 
    }
    .ecommerce-detail2 {
        margin-top: 0px;
    }

    .ecommerce-detail2 .owl-carousel{
        margin-top: 11px;
    }
}

@media (max-width: 414px){
    .iphone1 img {
        width: 255px;
        margin-top: -59px;
        margin-left: -39px;
        margin-bottom: -76px;
    }

    .ecommerce1 {
        margin-top: -12px;
    }

    .ecommerce-detail1 h1{
        font-size: 22px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -10px !important;
        margin-bottom: -15px;
    }

    .ecommerce-detail1 .owl-carousel {
        margin-top: -5px;
    }

    .iphone2 img {
        width: 255px;
        margin-top: -59px;
        margin-left: -77px;
        margin-bottom: -76px;
    }

    .ecommerce-detail2 h1{
        font-size: 22px;
    }

    .ecommerce-detail2 .owl-carousel {
        margin-top: -5px;
    }
}

@media (max-width: 375px){
    .iphone1 img {
        margin-left: -53px;
    }
}

@media (max-width: 320px){
    .iphone1 img {
        width: 216px;
        margin-left: -47px;
    }

    .ecommerce-detail1 .owl-carousel p{
        font-size: 11px;
    }
    
    .iphone2 img {
        width: 216px;
        margin-left: -72px;
    }

    .ecommerce-detail2 .owl-carousel p{
        font-size: 11px;
    }
}



