{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

 <!-- section hero -->
 <div class="hero card-hero">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 text-center align-self-center order-lg-1 order-sm-2 order-2 ">
                <h1 class="mb-lg-4">การบริหารข้อมูลสมาชิก</h1>
                <p class="mb-lg-4">กลยุทธสร้างความประทับใจ ความสัมพันธอันดี <br> และความภัคดีของลูกค้าซึ่งส่งผลต่อความสำเร็จในระยะยาว</p>
                <div>
                <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                <button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-sm-1 order-1">
                <img src="{%static 'img/card/Hero-card.svg' %}">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-lg-2">
                <img src="{%static 'img/card/Card-01.svg' %}" alt="">
            </div>
            <div class="col-lg-5 order-lg-1">
               <h1 class="text-center">ผลประโยชน์</h1>
               <div class="row text-card">
                    <div class="col-lg-6 pb-2 pr-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เพื่อสร้างความจงรักภัคดีต่อแบรนด์</div> 
                        </div>            
                    </div>
                    <div class="col-lg-6 pb-2 pr-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">แบรนด์สามารถวางแผนสือโฆษณาได้ตรงจุด</div> 
                        </div>            
                    </div>
                    <div class="col-lg-6 pb-2 pr-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4 ">ข้อมูลส่วนตัวของสมาชิกจะช่วยเพิื่มยอดขาย</div> 
                        </div>            
                    </div>
                    <div class="col-lg-6 pb-2 pr-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">สามารถวิเคราะห์แนวทางการตลาด</div> 
                        </div>            
                    </div>
                    <div class="col-lg-12 pr-0 choice-card" style="margin-bottom: 0;">
                        <div class="row">
                            <div class="col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">ระบบะดับชมาชิก ซื้อสิ้นค้าและบริการได้ในราคาที่แตกต่างกันซึ่งขึ้นอยู่กับระดับของสมาชิก</div> 
                        </div>            
                    </div>
                </div>
            </div>
            
        </div>
   </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: white;">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-7">
                <img src="{%static 'img/card/Card-02.svg' %}" alt="">
            </div>
            <div class="col-lg-5">
               <h1 class="text-center">ฟีดเจอร์</h1>
               <div class="row text-card">
                    <div class="col-lg-6 pb-2 pl-lg-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เก็บประวัติ เพิ่ม แก้ไขได้</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 pb-2 pl-lg-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">อัพเกรดระดับสมาชิกได้</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 pb-2 pl-lg-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เช็คสิ้นค้าที่สมาชิกชอบมาก</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 pb-2 pl-lg-0 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เช็คประวัติการซื้อขาย</div> 
                        </div>                    
                    </div>
                    <div class="col-lg-12 pl-lg-0 choice-card ">
                        <div class="row">
                            <div class="col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เก็บรายชื่อสมาชิกยอดเยี่ยม</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>


{% endblock%}