{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
<style>
    section{
       height:500px;
       background: linear-gradient(to top, black 0%,black 40%,gray 40%,gray 45%, #EEE 45%, #EEE 100%);
       color: #fff;
    }
    
    section:hover{
        margin: -11px;
        background: linear-gradient(to top, rgb(2, 59, 87) 0%,rgb(2, 59, 87) 40%,#04608D 40%,#04608D 45%, #1C9BDA 45%, #1C9BDA 100%);
    }
    
    
</style>
<!-- height:500px; background: linear-gradient(to top, #04608D 0%,#04608D 40%,gray 40%,gray 45%, #1C9BDA 45%, #1C9BDA 100%);" -->

<!-- section hero -->
<div class="">
    <div class="container py-2 text-center home-hero-head">
        <div>
            <h1>ระบบบริหารร้านค้าอัจฉริยะที่เลือกได้ตามสไตล์คุณ</h1>
            <span>ทางเลือกใหม่ในการจัดหน้าร้าน หลังร้าน และอีคอมเมิร์ชที่เหมาะกับคุณที่สุด <br></span>
            <button class="btn btn-info mr-sm-2 btn-sm my-md-2" type="submit">Start Now</button>
            <button class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
        </div>
    </div>
</div>


<div class="container text-center home-hero" >
    <img id="img-area" src="../static/img/home/home-01.png">
</div>

<div class="row">
    <div class="col-lg-12 col-6 pr-0 text-center text-lg-left home-hero-button">
        <div >
            <div class="container text-light">
                <div class="row">
                    <div class="col-lg-3">
                        <button id="textChange1" class="btn btn-outline-light" style="border: 0;" onclick="w()">หน้าร้านขายปีก</button>
                    </div>
                    <div class="col-lg-3">
                        <button id="textChange2" class="btn btn-outline-light" style="border: 0;" onclick="x()">อีคอมเมิรช์</button>
                    </div>
                    <div class="col-lg-3">
                        <button id="textChange3" class="btn btn-outline-light" style="border: 0;" onclick="y()">สินค้าคงคลัง</button>
                    </div>
                    <div class="col-lg-3">
                        <button id="textChange4" class="btn btn-outline-light" style="border: 0;" onclick="z()">ระบบสมาชิก</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="col-lg-12 d-none d-lg-block hero-home-text">
        <div class="container text-light">
            <div class="row">
                <div class="col-lg-3 hero-home-detail">
                    ใช้งานง่าย ไว เสถียรใช้ได้ทั้งออนไลน์และออฟไลน์ปลอดภัยบน Cloud Base
                    <div><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
                </div>
                <div class="col-lg-3 hero-home-detail">
                    ช่องทางที่ฮิตที่สุดในเวลานี้ ระบบทำงานตลอดเวลา ซื้อขายที่ไหน เมื่อไหร่ก็ได้
                    <div><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
                </div>
                <div class="col-lg-3 hero-home-detail">
                    ควบคุมสินค้าเข้าออก ฟังก์ชั่นปฎิทินแจ้งเตือนสินค้าที่กำลังจะหมดอายุ
                    <div><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
                </div>
                <div class="col-lg-3 hero-home-detail">
                    เก็บข้อมูลเพื่อเพิ่มยอดขาย มีระบบ AI เสนอสิ้นค้าและสามารถเติมเงินได้
                    <div><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 d-lg-none d-block pr-0" style="background-color: #04608D;">
        <div class="container text-light text-muted">
            <div id="divtextChange">
                ใช้งานง่าย ไว เสถียรใช้ได้ทั้งออนไลน์และออฟไลน์ปลอดภัยบน Cloud Base
            </div>
            <div class="more"><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
        </div>
    </div>
</div>



<div class="bg-light" style="height: 500px;">

</div>

<div class="WhoAreWELG d-none d-lg-block">
    <div class="container p-5">
        <div class="row ">
            <div class="col-lg-6 detail">
                
                <div class="WhoAreWELG-detail">
                    <h1>เราคือใคร</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium unde dicta sit voluptas nesciunt voluptatibus facilis </p>
                    <div class="text-right"><a href="#">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
                </div>
                 
            </div>

            <div class="col-lg-6 truest">
                <div class="text-center">
                    <h1 class="truest-head">TRUESTED BY</h1>
                    <div class="row">
                        <div class="col-lg-6 lush" >
                            <img src="{%static 'img/home/home-05.png' %}" width="238px">
                        </div>
                        <div class="col-lg-6 forever">
                            <img src="{%static 'img/home/home-06.svg' %}">
                        </div>
                        <div class="col-lg-12 mt-4 nation">
                            <img src="{%static 'img/home/home-07.svg' %}">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-lg-none d-block ">
    <div class="WhoAreWE">
        <div class="container align-self-center">
            <div class="">
                <h1>เราคือใคร</h1>
                <span class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium unde dicta sit voluptas nesciunt voluptatibus facilis
                </span>
                <div class="text-right"><a href="#" class="text-muted">อ่านเพิ่ม <i class="fa fa-caret-right"></i></a></div>
            </div>
        </div>
    </div>

    <div class="truest">
        <div class="container">
            <div class="text-center">
                <h1 class="truest-head">TRUESTED BY</h1>
                <div class="row">
                    <div class="col-6 lush">
                        <img src="{%static 'img/home/home-05.png' %}" width="238px">
                    </div>
                    <div class="col-6 forever">
                        <img src="{%static 'img/home/home-06.svg' %}">
                    </div>
                    <div class="col-12 mt-4 nation">
                        <img src="{%static 'img/home/home-07.svg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="container my-5 d-lg-block d-none">
    <div class="row">
        <div class="col-lg-4 p-0 ps1"  >
            <section class="text-center package" >
                <h1 class="text-dark">Lite</h1>
                <img src="../static/img/card-hero.jpg" width="200px" height="200px">
                <br>
                <br>
                <br>    
                <h1>Free</h1>
                <p class="px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora facere nam eveniet odio eaque, quis autem ipsum nemo ist</p>
            </section>
        </div>

        <div class="col-lg-4 p-0 ps1" >
            <section class="text-center package">
                <h1 class="text-dark">Pro</h1>
                <img src="../static/img/card-hero.jpg" width="200px" height="200px">
                <br>
                <br>
                <br>    
                <h1>$89</h1>
                <p  class="px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora facere nam eveniet odio eaque, quis autem ipsum nemo ist</p>
            </section>
        </div>

        <div class="col-lg-4 p-0 ps1" >
            <section class="text-center package">
                <h1 class="text-dark">Enterprise</h1>
                <img src="../static/img/card-hero.jpg" width="200px" height="200px">
                <br>
                <br>
                <br>    
                <h1>$159</h1>
                <p class="px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora facere nam eveniet odio eaque, quis autem ipsum nemo ist</p>
            </section>
        </div>
    </div>
</div>



<script>
    function changeSlide(imgSrc, html) {
        document.getElementById("img-area").src = imgSrc;
        document.getElementById("divtextChange").innerHTML = html;
    }

    function w(){
        changeSlide('../static/img/home/home-01.png','ใช้งานง่าย ไว เสถียรใช้ได้ทั้งออนไลน์และออฟไลน์ปลอดภัยบน Cloud Base');

    }
    function x(){
        changeSlide('../static/img/home/home-02.svg', 'ช่องทางที่ฮิตที่สุดในเวลานี้ ระบบทำงานตลอดเวลา ซื้อขายที่ไหน เมื่อไหร่ก็ได้');
    }

    function y(){
        changeSlide('../static/img/home/home-03.svg', 'ควบคุมสินค้าเข้าออก ฟังก์ชั่นปฎิทินแจ้งเตือนสินค้าที่กำลังจะหมดอายุ');
        
    }

    function z(){
        changeSlide('../static/img/home/home-04.svg', 'เก็บข้อมูลเพื่อเพิ่มยอดขาย มีระบบ AI เสนอสิ้นค้าและสามารถเติมเงินได้');
        
    }  
</script>


{% endblock%}