{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
   <!-- section hero -->
    <div class="hero card-hero">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 text-center align-self-center order-lg-1 order-sm-2 order-2 hero-text">
                    <h1>การจัดการสินค้าคงคลัง</h1>
                    <p>เหตุผลที่ต้องมี<br>ระบบบริหารร้านค้าอัจฉริยะ</p>
                    <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                    <a href="{% url 'contactus' %}"><button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button></a>
                </div>
                <div class="col-lg-6 order-lg-2 order-sm-1 order-1">
                    <img src="{%static 'img/inventory/hero-inventory.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

<!-- section -->

<!-- <div class="container">
    <div class="row"> -->
        <!-- row1 -->
        <!-- <div class="col-lg-4">

        </div>
        <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-01.svg' %}">
        </div>
        <div class="col-lg-4">

        </div> -->

        <!-- row2 -->
        <!-- <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-02.svg' %}">
        </div>
        <div class="col-lg-4 text-center p-2">
            <h3 class="mb-3">เช็ควันหมดอายุสินค้า</h3>
            
        </div>
        <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-03.svg' %}">
        </div> -->

        <!-- row3 -->
        <!-- <div class="col-lg-4 text-center p-2">
            <h3 class="mb-3">ตรวจสอบ ควบคุมจำนวน ของสินค้า เข้า - ออก</h3>
            
        </div>
        <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-04.svg' %}">
        </div>
        <div class="col-lg-4 text-center p-2">
            <h3 class="mb-3">กำหนดชั้น จุด สถานที่สาขาที่วางสินค้า</h3>
            <p class="text-muted">coming soon</p>
            
        </div> -->

        <!-- row4 -->
        <!-- <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-05.svg' %}">
        </div>
        <div class="col-lg-4 text-center">
            <img src="{%static 'img/inventory/inventory-06.svg' %}">  
        </div>
        <div class="col-lg-4  text-center">
            <img src="{%static 'img/inventory/inventory-07.svg' %}">
        </div> -->

        <!-- row5 -->
        <!-- <div class="col-lg-4 text-center p-2">
            <h3 class="mb-3">บันทึกการเคลื่อนย้ายสินค้า</h3>
            
        </div>
        <div class="col-lg-4  text-center p-2">
            <h3 class="mb-3">บันทึกสถานะสินค้า : คืนสินค้า เสียหาย แตก มีปัญหา ขายไม่ได้
            </h3>
            
        </div>
        <div class="col-lg-4 text-center p-2">
            <h3 class="mb-3">เช็ควัน และจำนวนสินค้าที่รับเข้ามา</h3>
            
        </div>
    </div>
</div>  -->

<div id="outerContainer">
    <div class="text-center container" id="container" style="height: 900px;">
        <div class="item" style="position: absolute; " data-aos="zoom-in" data-aos-delay="2200"
        data-aos-duration="700">
            <img src="{%static 'img/inventory/line.svg' %}" style="width: 532px; margin-top: 70px;">
        </div>
        <div class="item" style="position: absolute;" data-aos="zoom-in" data-aos-delay="200"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inven-01.png' %}" style="width: 400px; margin-top: 66px;">
        </div>
        <div class="item" style="position: absolute;" data-aos="zoom-in" data-aos-delay="1200"
        data-aos-duration="700">
            <img src="{%static 'img/inventory/inven-03.png' %}" style="width: 155px;">
        </div>
        <div style="position: absolute;top:15px;right:425px;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-01.svg' %}" style="width: 300px;" alt="">
            <h5>เช็ควันหมดอายุสินค้า</h5>
        </div>
        <div style="position: absolute;top:191px;right:716px;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-02.svg' %}" style="width: 300px;" alt="">
            <h5>ตรวจสอบ ควบคุมจำนวน<br>ของสินค้า เข้า - ออก</h5>
        </div>
        <div style="position: absolute;top:175px;right:107px;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-03.svg' %}" style="width: 300px;" alt="">
            <h5 style="margin-top: 17px;">กำหนดชั้น จุด สถานที่<br>สาขาที่วางสินค้า</h5>
        </div>
        <div style="position: absolute;top:598px;right:717px;"  data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-05.svg' %}" style="width: 300px;" alt="">
            <h5 style="margin-top: -38px;">บันทึกการ<br>เคลื่อนย้ายสินค้า</h5>
        </div>
        <div style="position: absolute;top:598px;right:407px; z-index: 101;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-06.svg' %}" style="width: 300px;" alt="">
            <h5>บันทึกสถานะสินค้า :<br>คืนสินค้า เสียหาย แตก<br>มีปัญหา ขายไม่ได้</h5>
        </div>
        <div style="position: absolute;top:602px;right:120px; z-index: 101;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <img src="{%static 'img/inventory/inventory-07.svg' %}" style="width: 300px;" alt="">
            <h5 style="margin-top: -50px;" >เช็ควัน และจำนวน<br>สินค้าที่รับเข้ามา</h5>
        </div>
</div>


{% endblock%}