{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
<div class="container login">
    <h2>WELCOME TO THE WEBSITE</h2>
    <hr>
    <div class="jumbotron">
      <h1 class="text-center">USER LOGIN</h1>

          <table>
            <tr>
              <td></td>
              <td colspan="2">Email or Username</td>
            </tr>
            <tr>
              <td>
                
              </td>
            </tr>
            <tr>
              <td><i class="fa fa-2x fa-user"></i></td>
              <td colspan="2"><input  type="email" class="form-control" id="exampleInputEmail1"></td>
            </tr>
            <tr> <td></td></tr>       <tr> <td></td></tr>   <tr> <td></td></tr>        
            <tr>
              <td></td>
              <td colspan="2">Password</td>
            </tr>
            <tr>
              <td><i class="fa fa-2x fa-lock"></i></td>
              <td colspan="2"><input  type="password" class="form-control" id="exampleInputPassword1"></td>
            </tr>
            <tr> <td></td></tr><tr> <td></td></tr><tr><td></td></tr><tr> <td></td></tr><tr> <td></td></tr><tr> <td></td></tr>  <tr> <td></td></tr><tr> <td></td></tr><tr><td></td></tr><tr> <td></td></tr><tr> <td></td></tr><tr> <td></td></tr> 
            <tr>
              <td></td>
              <td colspan="2"><input type="checkbox" /> Remember?</td>
            </tr>
            <tr> <td></td></tr><tr> <td></td></tr><tr><td></td></tr><tr> <td></td></tr><tr> <td></td></tr><tr> <td></td></tr>  <tr> <td></td></tr><tr> <td></td></tr><tr><td></td></tr><tr> <td></td></tr><tr> <td></td></tr><tr> <td></td></tr>
            <tr>
              <td></td>
              <td><button class="btn btn-primary" type="submit">LOGIN</button></td>
              <td class="text-right"><a href=""> Forgot password?</a></td>
            </tr>
          </table>

    </div>
</div>
</div>



{% endblock%}