{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
 <!-- section hero -->
 <div class="hero customer-management-hero">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 text-center align-self-center order-lg-1 order-sm-2 order-2 hero-text">
                <h1>การจัดการหน้าร้านค้า</h1>
                <p>กลยุทธหยังลึกถึงใจลูกค้า<br>เปลี่ยนลูกค้าขาจรเป็นลูกค้าขาประจำ</p>
                <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                <button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
            </div>
            <div class="col-lg-6 order-lg-2 order-sm-1 order-1">
                <img src="{%static 'img/POS3/hero-POS.png' %}">
            </div>
        </div>
    </div>
</div>


<!-- section -->
<div class="container">
    <h1 class="text-center pt-5 ">ระบบจัดการหน้าร้าน</h1>
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="{%static 'img/POS3/POS08.png' %}" width="450" alt="">
        </div>
        <div class="col-lg-6 text-center">
            <img src="{%static 'img/POS3/POS07.png' %}" width="450" alt="" style="padding-top: 27px;">
            </div>
        </div>
    
            <div class="col-lg-12 pt-4 mb-4">
                <div class="container">
                    <div class="bg-info" style="border-radius: 60px; padding: 10px 52px 10px 52px;">
                        <h1>รองรับทุกแพลตฟอร์ม</h1>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nostrum, animi debitis deleniti esse quis recusandae velit quibusdam facere? Ipsum ipsa quae reprehenderit nesciunt recusandae ullam vel fugit harum magni.
                    </div>
                </div>
        </div>


          <div class="row left-right">
            <div class="col-12 col-lg-6 order-lg-1 photo">
                <img src="{%static 'img/POS3/POS01.svg' %}" alt="">
            </div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
          </div>
          
          <div class="row  left-right" style="margin-top: -80px;">
            <div class="col-12 col-lg-6 order-lg-2 photo">
                <img src="{%static 'img/POS3/POS02.svg' %}" alt="">
            </div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p></div>
          </div>        


        <div class="row left-right mb-5" style="margin-top: -80px;">
            <div class="col-12 col-lg-6 order-lg-1 photo">
                <img src="{%static 'img/POS3/POS03.svg' %}" alt="">
            </div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>

    </div>

<div style="margin-top: 100px; background-color: #1C98D7 ;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{%static 'img/POS3/POS09.svg' %}" style="margin-top: -128px; margin-bottom: -123px;" alt="">
            </div>
            <div class="col-lg-6" style="padding: 38px 0 0 0px; color: #fff;"> 
                <h1>แบ่งขายสินค้า</h1>
                <p style="padding-right: 100px; font-size: 21px;">จุดเด่นของเราคือ สามารถแบ่งสินค้า ตัดขายเป็นกิโลกรัม หรือกรัม เป็นลิตร โดยคำนวนมูลค่าสินค้าและภาษีตามจริง ไม่จำเป็นต้องแบ่งขายเป็นชิ้น เช่น ชีท เหล็ก หินอ่อน</p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
        <div class="row left-right">
            <div class="col-12 col-lg-6 order-lg-2 photo">
                <img src="{%static 'img/POS3/POS04.svg' %}" alt="">
            </div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>        
       

        <div class="row left-right" style="margin-top: -60px;">
            <div class="col-12 col-lg-6 order-lg-1 photo" >
                <img src="{%static 'img/POS3/POS05.png' %}" width="540px" alt="">
            </div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>
        

        <div class="row left-right" style="margin-top: -60px;">
            <div class="col-12 col-lg-6 order-lg-2 photo">
                <img src="{%static 'img/POS3/POS06.svg' %}" alt="">
            </div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>        
        </div>
        
</div>
{% endblock%}