{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
 <!-- section hero -->
 <div class="hero customer-management-hero">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 text-center align-self-center order-lg-1 order-sm-2 order-2">
                <h1>การจัดการหน้าร้านค้า</h1>
                <p>กลยุทธหยังลึกถึงใจลูกค้า<br>เปลี่ยนลูกค้าขาจรเป็นลูกค้าขาประจำ</p>
                <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                <button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
            </div>
            <div class="col-lg-5 order-lg-2 order-sm-1 order-1">
                <img src="{%static 'img/customer-management-hero.jpg' %}">
            </div>
        </div>
    </div>
</div>


<!-- section -->
<div class="container">
    <h1 class="text-center">ระบบจัดการหน้าร้าน</h1>
    <div class="row">
        <div class="col-lg-6 text-center">
            office
        </div>
        <div class="col-lg-6 text-center">
            on the move
            </div>
        </div>
    
            <div class="col-lg-12 bg-info">
                <div class="container">
                    <h1>รองรับทุกแพลตฟอร์ม</h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nostrum, animi debitis deleniti esse quis recusandae velit quibusdam facere? Ipsum ipsa quae reprehenderit nesciunt recusandae ullam vel fugit harum magni.
                </div>
        </div>


          <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-1 bg-primary photo" style="background-image:url('static/img/left1.jpg');" ></div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
          </div>
          
          <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-2 bg-primary photo" style="background-image:url('static/img/right2.jpg');"></div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p></div>
          </div>        


        <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-1 bg-primary photo" style="background-image:url('static/img/left1.jpg');" ></div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
              <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>

    </div>

<div class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 bg-light" style="height: 150px;">

            </div>
            <div class="col-lg-6">
                แบ่งขายสิ้นค้า
            </div>
        </div>
    </div>
</div>


<div class="container">
        <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-2 bg-primary photo" style="background-image:url('static/img/right2.jpg');"></div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>        
       

        <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-1 bg-primary photo" style="background-image:url('static/img/left1.jpg');" ></div>
            <div class="col-12 col-lg-6 order-lg-2 text-left  align-self-center  text"><h1>ระบบใช้งานง่าย ใช้ได้ไว<br>เสถียร และปลอดภัย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>
        </div>
        

        <div class="row my-5 left-right" style="height: 500px;">
            <div class="col-12 col-lg-6 order-lg-2 bg-primary photo" style="background-image:url('static/img/right2.jpg');"></div>   
            <div class="col-12 col-lg-6 order-lg-1 text-right  align-self-center  text"><h1>ระบบหลังบ้านที่ช่วยควบคุมให้<br>ธุรกิจเติบโตอย่างง่ายดาย</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero inventore tempore commodi nulla qui a corrupti, pariatur asperiores atque voluptate et dolore ipsum facere non numquam quia soluta! Ipsam.</p>
            </div>        
        </div>
        
</div>
{% endblock%}