{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
<div class="hero customer-management-hero">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 text-center align-self-center order-lg-1 order-sm-2 order-2 hero-text">
                <h1 class="mb-lg-4">การบริหารข้อมูลลูกค้า</h1>
                <p class="mb-lg-4">กลยุทธหยังลึกถึงใจลูกค้า<br>เปลี่ยนลูกค้าขาจรเป็นลูกค้าขาประจำ</p>
                <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                <button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
            </div>
            <div class="col-lg-6 order-lg-2 order-sm-1 order-1">
                <img src="{%static 'img/staff/hero-Staff-Management.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div id="outerContainer">
    <div class="text-center container" id="container" >

        <div class="" style="position:absolute;"  data-aos="zoom-in" data-aos-delay="800"
        data-aos-duration="1000">
            <img src="{%static 'img/staff/Staff-02.svg' %}" style="width: 700px; margin-top: -276px;" alt="">
        </div>

        <div class="item" style="position:absolute;"  data-aos="zoom-in" data-aos-delay="400"
        data-aos-duration="1000">
            <img src="{%static 'img/staff/Staff-08.svg' %}" style="width: 477px; margin-left: -34px;">
        </div>

        <div class="item" style="position: absolute;top:409px;right:922px;" data-aos="zoom-in" data-aos-delay="1200"
        data-aos-duration="1000">
            <div class="row">
                <div class="col-10 text-right">
                    จัดลำดับหนักงาน <br> ดีเด่นจามยอดขาย
                </div>
                <div class="col-2">
                    <img src="{%static 'img/staff/Staff-03.svg' %}" style="width: 75px; margin-top: -8px; margin-left: -12px;">
                </div>
            </div>
        </div>

        <div class="item" style="position: absolute;top:186px;right:855px;" data-aos="zoom-in" data-aos-delay="1600"
        data-aos-duration="1000">
            <div class="row">
                <div class="col-10 text-right">
                    ดูยอดขายผลงานของ <br> พนักงานแต่ละคน
                </div>
                <div class="col-2">
                    <img src="{%static 'img/staff/Staff-06.svg' %}" style="width: 75px; margin-top: -8px; margin-left: -12px;">
                </div>
            </div>
        </div>

        <div class="item" style="position: absolute;top:28px;right:449px;" data-aos="zoom-in" data-aos-delay="2000"
        data-aos-duration="1000">
            <img src="{%static 'img/staff/Staff-04.svg' %}" style="width: 75px;">
            <h5>กำหนดสิทธิ หน้าที่การเข้าถึง<br>ข้อมูลของพนักงาน</h5>
        </div>

        <div class="item" style="position: absolute;top:186px;right:-21px;" data-aos="zoom-in" data-aos-delay="2400"
        data-aos-duration="1000">
            <div class="row">
                <div class="col-10 order-2 text-left">
                    สามารถเก็บข้อมูลหนักงานเพื่อ<br>เป็นข้อมูลการวิเคราะห์แนวโน้มอนาคต
                </div>
                <div class="col-2 order-1" >
                    <img src="{%static 'img/staff/Staff-05.svg' %}" style="width: 75px; margin-top: -8px; margin-left: -40px;">
                </div>
            </div>
        </div>

        <div class="item" style="position: absolute;top:409px;right:31px;" data-aos="zoom-in" data-aos-delay="2800"
        data-aos-duration="1000">
            <div class="row">
                <div class="col-10 order-2 text-left">
                    ลดค่าใช้จ่ายในการ<br>จ้างพนักงาน
                </div>
                <div class="col-2 order-1" >
                    <img src="{%static 'img/staff/Staff-07.svg' %}" style="width: 75px; margin-top: -8px; margin-left: -63px;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}