{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}


 <!-- section hero -->
 <div class="hero stored-value-cards">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 text-center align-self-center order-lg-1 order-sm-2 order-2 hero-text">
                <h1>บัตรสมาชิก</h1>
                <p>กลยุทธสร้างความประทับใจ ความสัมพันธอันดี<br>และความภัคดีของลูกค้าซึ่งส่งผลต่อความสำเร็จในระยะยาว</p>
                <button class="btn btn-light mr-sm-2 btn-sm" type="submit">Start Now</button>
                <button class="btn btn-outline-light my-2 my-sm-0 btn-sm" type="submit">Contact Sales</button>
            </div>
            <div class="col-lg-6 order-lg-2 order-sm-1 order-1">
                <img src="{%static 'img/stored-value-cards/hero-stored-value-cards.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color: white;">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-7">
                <img src="{%static 'img/stored-value-cards/stored-value-cards.svg' %}" alt="">
            </div>
            <div class="col-lg-5">
               <h1 class="text-center">บัตรสมาชิก</h1>
               <div class="row">
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เติมเงินล่วงหน้า ทยอยใช้</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เก็บรวบรวมช้อมูลสมาชิก</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">ดูประวัติการสั่งซื้อของลูกค้า</div> 
                        </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">Stored Value Cards </div> 
                        </div>                    
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เช็คได้ว่าลูกค้าชอบอะไร</div> 
                        </div>                    
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เพิ่มยอดขายจากการขายซ้ำ</div> 
                        </div>                    
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">เก็บเงินล่วงหน้า</div> 
                        </div>                    
                    </div>
                    <div class="col-lg-6 col-md-6 pb-2 choice-card">
                        <div class="row">
                            <div class="col-lg-2 col-1 py-0 pl-0 correct"><img src="{%static 'img/Correct/Correct.svg' %}" width="80" height="80" class="d-inline-block align-top" alt=""></div>
                            <div class="col-lg-10 col-10 choice-detail align-self-center pl-lg-4 pl-5 pl-sm-4">สร้างคลับสมาชิก</div> 
                        </div>                    
                    </div>
                    
                </div>
            </div>
        </div>
   </div>
</div>

{% endblock%}