{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-8 mr-3">
            <div class="card" style="border: 0;">
                <img src="{%static 'img/vlog1.jpg' %}" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed veniam, accusamus maiores quidem, rerum, maxime alias earum praesentium magnam ducimus dolores ea exercitationem iusto harum distinctio ipsa. Veritatis, ipsum!</p>
                  <p class="card-date">November 26, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="text-center bg-info px-2 pt-5" style="height: 510.8px; color:white;">
                 <h1 style="font-size: 30px;">เก็บข้อมูลบน Cloud Base</h1>
                 <p class="pt-3">เก็บข้อมูลบน Cloud Base จึงปลอดภัยใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</p>
                 <div class="pb-3"><input type="text"></div>
                 <div><input type="text"></div>
                 <button class="btn btn-danger mt-4">...............</button>
                 <p class="pt-3">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งาน</p>
            </div>
            <div class="mt-4">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-3x fa-facebook-f"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-3x fa-instagram"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-3x fa-twitter"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-3x fa-google-plus-square"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 d-none d-lg-block">
            <div class="card mb-3" style="border: 0;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{%static 'img/vlog2.jpg' %}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted">November 26, 2019</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-none d-lg-block">
            <div class="card mb-3" style="border: 0;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{%static 'img/vlog2.jpg' %}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted">November 26, 2019</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-none d-lg-block">
            <div class="card mb-3" style="border: 0;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{%static 'img/vlog2.jpg' %}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted">November 26, 2019</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container d-lg-none d-block">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3 h-100">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</p>
              <p class="card-text">November 26, 2019</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</p>
              <p class="card-text">November 26, 2019</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</p>
              <p class="card-text">November 26, 2019</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">เก็บข้อมูลบน Cloud Base จึงปลอดภัย ใช้งานได้ ทั้งออนไลน์และช่วงที่ไม่มีอินเตอร์เน็ต</p>
              <p class="card-text">November 26, 2019</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock%}